
.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


.button {
    background-color: darkslategray;
    padding: 8px 32px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    
}

.invite {
    text-align: center;
}

.text {
    font-size: 12px;
}

.img-container {
    text-align: center;
}